@{
    ViewBag.Title = "Acerca de nosotros";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET MVC template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code required on top of the default MVC template provided by Microsoft.";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Pablo Mussanti";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@PabloM");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div align="center" class="container">
    <div class="row" align="center">
        <div class="col-md-8 mb-5">
            <h2>Que hacemos?</h2>
            <hr>
            <p>
                Mision: Crear conciencia social para el bienestar animal, fortaleciendo el vínculo emocional que existe entre las personas y sus animales de compañía, mediante la prestación de nuestros servicios médicos veterinarios y complementarios a la comunidad Antioqueña.

                Nuestro equipo de trabajo comparte valores y principios éticos, que brindan el amor, el respeto, la responsabilidad y el compromiso para con nosotros mismos, con nuestros usuarios y pacientes.
            </p>
            <p>
                Vision: Seremos la institución veterinaria líder en la promoción de la salud animal, educando a la comunidad y trasmitiendo los valores humanos necesarios para transformar nuestra sociedad, participando  en su transformación hacia el Departamento con la mejor sanidad, vigilancia y trato humanitario para con los animales.

                Nuestras instalaciones, dotadas con tecnología de vanguardia y nuestro equipo médico veterinario y técnico, calificado y comprometido con el bienestar animal.
            </p>
        </div>
    </div>
</div>